body {
    display: grid;
    letter-spacing: 1.5px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Indie Flower', cursive;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.board {
    margin: auto;
    background-color:black;
    padding: 0;
    width: 435px;
    height: 435px;
    border-radius: 8px; 
    position: relative;
}

.board div {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    color: white;
    font-size: 40px;
    font-weight: 500;   
    line-height: 100px;
    text-align: center;
    margin: 5px 5px;
    cursor: pointer;
    user-select: none;
}

.progresBar {
    width: 430px;
    border: 2px solid black;
    border-radius: 8px; 
    margin: 10px 0;
}

.progBar {
    width: 0;
    height: 30px;
    background-color: #00F85C;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: width 1.5s;
}

.filledTile {
    background-color: #D63B5C;
}

.blankTile {
    background-color:transparent;
}

.stepsAndTimer {
    margin: auto;
    margin-bottom: 10px;
    font-size: 26px;
    color: white;    
    font-weight: 600;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.progresBar p{
    position: absolute;
    margin-left: 160px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
}

p {
    margin: 0 0;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0;
}

.steps {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    width: 100px;
    border-radius: 20px; 
    background-color: #08B4F5;
    box-shadow: 3px 3px #016D96;
    border: 1px solid #173AF7;
    cursor: pointer;
    user-select: none;
    line-height: 30px;
}

.timer {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    width: 100px;
    border-radius: 20px; 
    background-color: #FFA84A;
    box-shadow: 3px 3px #BC670B;
    border: 1px solid #C07EC3;
    cursor: pointer;
    user-select: none;
    line-height: 30px;
}

.steps, .timer p:nth-child(2) {
    font-size: 30px;
}

.container {
    width: 435px;
    margin: auto;
    text-align: center;
}

.pause {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    width: 100px;
    height: 60px;
    border-radius: 20px; 
    background-color: #6079FE;
    border: 1px solid #173AF7;
    box-shadow: 3px 3px #03188A;
    cursor: pointer;
    user-select: none;
    line-height: 30px;
}

.pause:active{
    box-shadow: 0 0px #03188A;
    transform: translateY(3px);
}

.pause p {
    margin-top: 15px;
}

.reset {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    width: 100px;
    height: 60px;
    border-radius: 20px; 
    background-color: #FFCB4A;
    box-shadow: 3px 3px #A0760B;
    border: 1px solid #C07EC3;
    cursor: pointer;
    user-select: none;
    line-height: 30px;  
}

.reset:active{
    box-shadow: 0 0px #A0760B;
    transform: translateY(3px);
}

.reset p {
    margin-top: 15px;
}

.popup {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(35,35,60,.5);
}

.popup-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 440px;
    background-image: linear-gradient(45deg,#15a4d3,#6f5ca8);    
    box-shadow: 0 0 30px 0 rgba(35,35,60,.7);
    text-align: center;
    margin: auto;
    padding-top: 20px;
    border-radius: 10px;
}

.popup-inner h1 {
    color: #1A2342;
}

.score {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    font-weight: 900;
}

.score h2:nth-of-type(1)::first-line {
    font-size: 24px;
}

.score h2:nth-of-type(2), h2:nth-of-type(3){
    color:#F2B51A;
}

.score h2:nth-last-of-type(2)::before {
    content: 'Steps: ';
    color: #000;
}

.score h2:nth-of-type(3)::before {
    content: 'Time: ';
    color: #000;
}
.score img {
    width: 200px;
    height: 200px;
}
footer {
    background-color: #3D3D3D;
    color: #fff;
    padding: 15px 0;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popup-inner .fas {
    color: #1A2342;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;;
}

footer a:first-of-type i:hover {
    color: #6e5494;
    filter: brightness(120%);
}

footer a:nth-last-of-type(2) i:hover {
    color: #44619D;
    filter: brightness(120%);
}

footer a:last-of-type i:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.popup-inner i:hover{
    transform: scale(1.2);
}

.popup-inner a i {
    font-size: 30px;
    color:  #FFFFFF;
}

.popup-inner h3 {
    margin: 5px 5px;
}

.popup-inner h1, h2{
    margin: 0 0;
}

.popup {
    display: none;
}

.overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 125px;
    width: 435px;
    height: 435px;
    text-align: center;
    margin: auto;    
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    display: none;
}

.overlay i {
    margin-top: 130px;
}

.overlay i:hover {
    filter: brightness(70%);
}

@media only screen and (max-width: 450px) {
    .board {
        width: 320px;
        height: 320px;
    }
    
    .board div {
        width: 71.75px;
        height: 71.75px;
        font-size: 30px;
        line-height: 67px;
    }
    .container {
        width: 320px;
    }
    .progresBar {
        width: 316px;
    }
    .progresBar p{
        margin-left: 90px;
        font-size: 18px;
    }
    .overlay {
        width: 320px;
        height: 320px;
        font-size: 95px;
    }
    .overlay i {
        margin-top: 100px;
    }
    .stepsAndTimer {
        justify-content: space-around;
        font-size: 22px; 
    }
    .steps p:nth-child(2), .timer p:nth-child(2) {
        font-size: 22px;
    }   
    .steps {
        font-size: 22px;
        width: 70px;
        height: 52px;
    }
    .pause {
        width: 70px;
        height: 52px;
    }
    .timer {
        width: 70px;
        height: 52px;
        font-size: 22px;
    }
    .reset {
        width: 70px;
        height: 52px;
    }
    
    h1 {
        font-size: 43px;
    }
    .popup-inner {
        width: 300px;
    }
    .score img {
        width: 150px;
        height: 150px;
    }

  }