body {
    display: grid;
}
.board {
    margin: auto;
    background-color:black;;
    padding: 0;
    width: 435px;
    height: 435px;
    border: 2px solid black;
    border-radius: 8px; 
    position: relative;
}
.board div {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    color: white;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin: 5px 5px;
    
}
.filledTile {
    background-color: red;
    /* background: url(blogbanner_24.png);
    background-size: cover; */
    /* background-position: center;     */
}
.blankTile {
    background-color:transparent;
}
.stepsAndTimer {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 26px;
    color: white;    
    font-weight: 600;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

p {
    margin: 0 0;
}
.steps {
    width: 140px;
    border-radius: 8px; 
    background-color: aqua;
}
.timer {
    width: 140px;
    border-radius: 8px; 
    background-color: antiquewhite;
}
.container {
    background-color: blueviolet;
    width: 510px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
